In [ ]:
import kagglehub
from kagglehub import KaggleDatasetAdapter
import psycopg2
import pandas as pd

def get_data(file_path):
    df = kagglehub.load_dataset(
      KaggleDatasetAdapter.PANDAS,
      "ukveteran/adventure-works",
      file_path,
    )
    return df

aa = get_data("AdventureWorks_Returns.csv")

aa

/var/folders/yy/fytbvmjx28n99qh9ygsw4kyc0000gp/T/ipykernel_24294/1336899410.py:5: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

     ReturnDate  TerritoryKey  ProductKey  ReturnQuantity
0     1/18/2015             9         312               1
1     1/18/2015            10         310               1
2     1/21/2015             8         346               1
3     1/22/2015             4         311               1
4      2/2/2015             6         312               1
...         ...           ...         ...             ...
1804  6/30/2017             6         491               1
1805  6/30/2017             8         477               1
1806  6/30/2017             9         477               1
1807  6/30/2017            10         223               1
1808  6/30/2017            10         477               1

[1809 rows x 4 columns]